*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-va-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-va-latest.csv filter=lfs diff=lfs merge=lfs -text
